@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&family=Poetsen+One&display=swap');

body{
    background-image:
    url("BG 5.jpg");
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: nor-repeat;
}
.h1{
    text-align: center;
    font-family:'Jaro';
    color: green;
    font-size: 80;
}
.h2{
    text-align: center;
    font-family: 'Poetsen one';
    color: gold;
    font-size: 30;
    text-decoration: underline;
    font-style: italic;
}
.par{
    text-align: center;
    font-family: 'Poetsen one';
    color: black;
    font-size: 25;
}
.par2{
    text-align: center;
    font-family: ;
    color: darkmagenta;
    font-size: 23;
}
.par3{
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: red;
font-size: 28;
}
.par4{
    font-family: ;
    color:palevioletred;
    font-style: italic;
    text-decoration: underline
}
.par5{
    font-family: ;
    color: goldenrod;
    font-style: italic;
    text-decoration: underline;
}
.img1{
    position: fixed;
    height: 100px;
    margin-left: 30;

}
.img2{
    position: fixed;
    width: 150px;
    right: 10px;
    bottom: 130px;
}
